@media (min-width: 901px) {
    p {
        font-size: 24px;
    }
    
    .dropdown-content {
        transform: translateY(-10px);
    }

    .dropdown:focus .dropdown-content,
    .dropdown:hover .dropdown-content {
        transform: translateY(0);
    }

    #navbar #navbutton a {
        transition: 0.5s;
    }

    #navbar #logo {
        transition: 0.5s;
    }

    #navbar #logo:hover,
    #navbar #logo:focus {
        text-decoration: none;
    }
}