@media (min-width: 901px) {
    p {
        font-size: 24px;
    }
    
    #navbar #logo:hover,
    #navbar #logo:focus {
        text-decoration: none;
    }

    #menu li a.button:hover,
    #menu li a.button:focus {
        text-decoration: none;
    }

    #navbar #navbutton .dropdown a:hover,
    #navbar #navbutton .dropdown a:focus {
        text-decoration: none;
    }

    #navbar #navbutton .dropdown a {
        transition: 0.5s;
    }
    
    .sub-content,
    .dropdown-content {
        transition: 0.5s;
    }

    #menu li a {
        transition: 0.5s;
    }  
    #navbar #logo {
        transition: 0.5s;
    }
  
}
