@font-face {
    font-family: 'phantomsans';
    src: url('/fonts/PhantomSans.woff2') format('woff2'),
            url('/fonts/PhantomSans.woff') format('woff'),
            url('/fonts/PhantomSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'assassin';
    src: url('/fonts/BloodyScaryRegular.woff2') format('woff2'),
            url('/fonts/BloodyScaryRegular.woff') format('woff'),
            url('/fonts/BloodyScaryRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1;
    background: #222;
    font-family: 'phantomsans';
    color: #ccc;
    margin: 0 0 3em;
    text-align: center;
}

h1 {
    font-size: 72px;
    font-weight: bold;
    color: #cc7;
}

p {
    margin: auto;
    font-size: 18px;
    width: 80%;
    max-width: 600px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

li {
    width: max-content;
    margin: 0 auto;
}

#menu li a {
    display: block;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    font-size: 36px;
    font-weight: bold;
    border-radius: 36px;
    background: #333;
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}

#menu li a.button:hover, #menu li a.button:focus {
    color: #fff;
    background: #555;
    cursor: pointer;
}

#navbar {
    display: flex;
    background-color: #333;
    padding: 1em 1em;
    align-items: center;
}


#navbar #navbutton a {
    color: #ccc;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.3s;
}

#navbar #navbutton a:hover {
    color: #fff;
    background-color: #555;
    border-radius: 18px;
}

#navbar #logo {
    color: #cc7;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    margin-top: 0.5em;
    width: max-content;
    display: none;
    position: absolute;
    background-color: #444;
    border-radius: 18px;
    flex-direction: column;
    right: 0;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown > a {
    cursor: pointer;
    text-decoration: none;
}

.dropdown > a:hover {
    background-color: #555;
    border-radius: 5px;
}
