@font-face {
    font-family: 'PhantomSans';
    src: url('../fonts/PhantomSans.woff2') format('woff2'),
            url('../fonts/PhantomSans.woff') format('woff'),
            url('../fonts/PhantomSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'assassin';
    src: url('../fonts/BloodyScaryRegular.woff2') format('woff2'),
            url('../fonts/BloodyScaryRegular.woff') format('woff'),
            url('../fonts/BloodyScaryRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1;
    background: #222;
    font-family: 'PhantomSans';
    color: #ccc;
    margin: 0 0 3em;
    text-align: center;
}

h1 {
    font-size: 72px;
    font-weight: bold;
    color: #cc7;
}

ul {
    list-style: none;
    padding: 0 ;
    margin: -2em auto;
}

/* Shared style for li and li a.button */
li,
a.button {
    width: max-content;
    background: #444;
    margin: 0.5em auto;
    padding: 0.5em 1em;
    font-size: 36px;
    font-weight: bold;
    border-radius: 36px;
    color: #ccc;
    text-decoration: none;       /* remove underline for a */
    white-space: nowrap;
    transition: all 0.3s ease;  /* smooth hover effect */
}

/* Specific hover effect for the a.button inside li */
li a.button:hover,
li a.button:focus {
    color: #fff;
    background: #555;
    cursor: pointer;
}
