@font-face {
    font-family: 'phantomsans';
    src: url('../fonts/PhantomSans.woff2') format('woff2'),
            url('../fonts/PhantomSans.woff') format('woff'),
            url('../fonts/PhantomSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'assassin';
    src: url('../fonts/BloodyScaryRegular.woff2') format('woff2'),
            url('../fonts/BloodyScaryRegular.woff') format('woff'),
            url('../fonts/BloodyScaryRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1;
    background: #222;
    font-family: 'phantomsans';
    color: #ccc;
    margin: 0 0 3em;
    text-align: center;
}

h1 {
    font-size: 72px;
    font-weight: bold;
    color: #cc7;
}

p {
    margin: auto;
    font-size: 18px;
    width: 80%;
    max-width: 600px;
}

ul {
    list-style: none;
    padding: 0 ;
    margin: -2em auto;
}

li {
    width: max-content;
    margin: 0 auto;
}

a {
    display: block;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    font-size: 36px;
    font-weight: bold;
    border-radius: 36px;
    background: #444;
    text-decoration: none;
    color: #ccc;
    transition: all 0.3 ease;
}

a.button:hover, a.button:focus {
    color: #fff;
    background: #555;
    cursor: pointer;
}
