<div id="navbar">
    <a id="logo" href="/">Hassenhal</a>
    <div id="navbutton">
        <div class="dropdown">
            <a href="#">Menu</a>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/assassin/">Assassin</a>
                <a href="/blogs/">Blogs</a>
                <a href="/blogs/gti/" class="button">GTI Rebuild</a>
                <a href="https://github.com/jackhassenzahl" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
</div>
