<!-- navigation bar -->
<div id="navbar">
    <a id="logo" href="/">
        <img src="/images/nblogo.svg" alt="Logo">
    </a>
    <div id="navbutton">
        <div class="dropdown">
            <a href="#" class="menu">Menu</a>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/assassin/">Assassin</a>
                <div class="dropdown">
                    <a href="#">Blog Posts</a>
                    <div class="sub-content">
                        <a href="/blogposts/">Home</a>
                        <a href="/blogposts/gti/">GTI Rebuild</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#">Games</a>
                    <div class="sub-content">
                        <a href="/games/slope">Slope Game</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#">Socials</a>
                    <div class="sub-content">
                        <a href="https://github.com/jackhassenzahl" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
